<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fav foods</title>
  </head>
  <body>
    <ul>


      <% for (var i = 0; i < favFoods.length; i++) { %>
          <li clas=""><%= favFoods[i] %></li>
      <% } %>


      <!-- <li><%= favFoods[0] %></li>
      <li><%= favFoods[1] %></li>
      <li><%= favFoods[2] %></li>
      <li><%= favFoods[3] %></li>
      <li><%= favFoods[4] %></li> -->
    </ul>
  </body>
</html>
