<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kabul</title>
  </head>
  <body>
  <div class="container">
    <ul>
      <!-- <li> <%= id %>
      </li>
      <li><%= name %></li>
      <li><%= countrycode %></li>
      <li><%= district %></li>
      <li><%= population %></li> -->
    </ul>
  </div>

  </body>
</html>
