<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Müvie Haus</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <header>Müvie Haus </header>
  <h1> OHAI! HELLO! HERE YOU ARE! </h1>

</div>
<div class='container'>
  <% var i= mID %>
  <h1><%= i %></h1>
  <div class='movie'>
  <h3><a href='/movies/<%= movies[i].id%>'><%= movies[i].title %></a></h3>
  <h3><%= movies[i].year %></h3>
  <h1><%= movies[i].id %> </h1>
  <img src='<%= movies[i].img_url %>'>
  <h4> Show Times: </h4>
  <h4><%= movies[i].times %></h4>
  <button> delete </button>
  <button> update </button>
</div>
</div>

<div class='search-container'>
  <div class="search">
  <label class="search" for="movie"></label>
  <div>
      <span class="help-block">Enter the movie you'd like to search</span>
  <input id="title" name="title" type="text" placeholder="All or part of movie name" class="input" required="">

  </div>
</div>
  <label class="search" for="submit"></label>
  <button id="submit" type="submit" class="">Search</button>
</div>
</body>
</html>
