<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kabul</title>
</head>
<body>
  <ul>
    <li><%= id %></li>
    <li><%= name %></li>
    <li><%= countrycode %></li>
    <li><%= district %></li>
    <li><%= population %></li>
  </ul>

</body>
</html>
