<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
    <ul>
      <% for(var i=0; i< Object.keys(interestingData).length; i++) { %>
        <div class="card">
      <li>Zip code: <%= JSON.stringify(interestingData[i].incident_zip) %></li>
      <li>Borough: <%= JSON.stringify(interestingData[i].borough) %></li>
      <li>Location Type: <%= JSON.stringify(interestingData[i].location_type) %></li>
      <li>Latitude: <%= JSON.stringify(interestingData[i].latitude) %></li>
      <li>Longitude: <%= JSON.stringify(interestingData[i].longitude) %></li>
      <li>Descriptor: <%= JSON.stringify(interestingData[i].descriptor) %></li>
    </div>
      <% } %>
    </div>
    </ul>
  </body>
</html>
