<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Violations</title>
  </head>
  <body>
    <p></p>
    <ul>
      <ul>
        <% for(var i=0; i< Object.keys(interestingData).length; i++) { %>
        <li>Zip code: <%= JSON.stringify(interestingData[i].zipcode) %></li>
        <li>Borough: <%= JSON.stringify(interestingData[i].boro) %></li>
        <li>Restuarant: <%= JSON.stringify(interestingData[i].dba) %></li>
        <li>Grade: <%= JSON.stringify(interestingData[i].grade) %></li>
        <li>Street: <%= JSON.stringify(interestingData[i].street) %></li>
        <li>Action: <%= JSON.stringify(interestingData[i].action) %></li>
        <li>Violation: <%= JSON.stringify(interestingData[i].violation_description) %></li>

        <% } %>
      </ul>
    </ul>
    </form>
  </body>
</html>
